<div class="container-fluid">
<div class="row">
<div class="col-md-8">
    <article class="media">
    <figure class="media-left">
 	    <p class="img-thumbnail">
        <%= gravatar_image_tag('junk', :alt => 'Github Default Gravatar', :gravatar => { :default => 'https://assets.github.com/images/gravatars/gravatar-140.png' }) %>
 		</p>
    </figure>
        <div class="media-body">
 			<%= render 'posts/form' %>
        </div>
 	</article>
    </div>   
 <div class="col-4">
 <% @posts.each do | post | %>
    <div class="box panel, panel default">
        <article class="media">
            <div class="media-left">
                <figure class="img-thumbnail">
                    <%= gravatar_image_tag('junk', :alt => 'Github Default Gravatar', :gravatar => { :default => 'https://assets.github.com/images/gravatars/gravatar-140.png' }) %>
                </figure>
            </div>
            <div class="media-body">
                    <bold>Sameera Appana</bold><br />
                    <small>@sameeraappana</small><br/>
                    <p><%= post.post %></p>
            </div>
        </article>
    </div>
<% end %>
</div>
</div>
</div>