<p>People You Might Follow</p>
	
	<div>
		<article class="media">
			<div class="media-left">
				<figure class="image-thumbnail">
                <%= gravatar_image_tag('junk', :alt => 'Github Default Gravatar', :gravatar => { :default => 'https://assets.github.com/images/gravatars/gravatar-140.png' }) %>
				</figure>
			</div>
			<div class="media-body">
				<div class="body">
					<p>
						<strong>Shashank Appana</strong>
						<br>
						<small>@shaspidy03</small>
					</p>
				</div>
			</div>
		</article>
	</div>