<div class="container">
  <% if user_signed_in? %>
  <div class="leftpane">
  <%= render 'profile' %>
  </div>
  <div class="rightpane">
  <%= render 'people-to-follow' %>
  </div>
  <% else %>
  <div class="middlepane">
  <p> Join My Twitter now to follow people you know and post your thoughts! </p>
  </div>
  <% end %>
  <div class="middlepane"> <%= render 'feed' %> </div>
  
</div>